body{
    height:100%;
    }
    .upper{
    height:90%;
    background-color:#ccbb34;
    width:90%;
    margin-left:5%;
    }
    .footer{
    height:10%;
    
    width:90%;
    background-color:#ccbb34;
    margin-left:5%;
    }
    a{
    font-family: Constantia;
    text-decoration:none;}
    // DROPDOWN CSS
    
    /* Style The Dropdown Button */
    .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
     position: relative;
     display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;}
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
     display: block;
     }
     .dropdown:hover .dropdown-content a:hover {
    background-color:#112233;
    color:white}
    